# ==========================================
# Temporários e Caches Críticos da Unity
# ==========================================
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.utmp/

# ==========================================
# Exclusivo para VR / Burst Compiler (Meta Quest)
# ==========================================
# Ignora pastas de debug do Burst que inflam o projeto
/*_BurstDebugInformation_DoNotShip/

# Ignora builds locais gerados para Android (.apk e .aab)
*.apk
*.aab

# ==========================================
# Caches de IDEs (Visual Studio / Rider / VS Code)
# ==========================================
.vs/
.vscode/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ==========================================
# Arquivos de Sistema e SO
# ==========================================
.DS_Store
Thumbs.db

*.mp4
*.mp4.meta
